<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLSA Kabarak</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/912e452282.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="navigation">
        
        <nav>
            <h1>Microsoft Learn Student Community Kabarak</h1>
            <ul>
                <li>Events</li>
                <li>Home</li>
                <li>Contact Us</li>
            </ul>
        </nav>
    </div>

    <div class="main-container">
        <%- include('./partials/_messages') %>
       
       <form action="/users/login" method="POST">
        
    <label for="uemail"><i class="fa fa-envelopes-bulk"></i> <i class="fa fa-at"></i> Email</label>
    <br>
    <input type="text" name="uemail" id="uemail" placeholder="Your email or password">
    <br>
    <br>


    <label for="upassword"><i class="fa fa-id-badge"></i> Password</label>
    <br>
    <input type="password" name="upassword" id="upassword" placeholder="Your password goes here...">
    <br>
    <br>

   

    <button type="submit"><i class="fa-solid fa-user-lock"></i> Login</button>



       </form>
    </div>
</body>
</html>